body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gamer-g{
    color: #F948B2;
}
.nav-left, .footer-top{
    display: flex;
    align-items: center;
}
.follow-us{
    background-color: rgb(235, 229, 229);
    padding: 5px;
    border-radius: 5px;
}
.nav-right i{
    color: red;
}
.logo{
    margin-right: 8px;
}
nav a{
    text-decoration: none;
    color: #3C354F;
    margin-right: 2px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-right img{
    height: 681px;
    width: 719px;
}
.banner-midtext{
    font-size: 48px;
}
.banner-bigtext{
   
    font-size: 95px;
    font-weight: bolder;
    color: #F948B2;
    margin-top: -10px;
}
.banner-smalltext{
    margin-top: -50px;
}
.banner-btn .sign-in, .banner-btn .go-rogue, .know-more{
    color: #FFFFFF;
    height: 56px;
    width: 156px;
    background-color: #F948B2;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}
.banner-btn .go-rogue{
    background-color: #4EC5F7;
}
.we-are-gamer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 37px;
}
.we-are-gamer img{
    height: 490px;
    width: 870px;
}
.we-are-gamer-description{
    text-align: right;
    margin-right: 45px;
}
.we-are-gamer-headline{
    font-size: 48px;
    font-weight: bold;
}
.funny-videos{
    margin-top: 60px;
}
.funny-videos-text, .anywhere-text{
    color: #F948B2;
}
.card-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
}
.card{
    position: relative;
    display: inline-block;
}
.icon, .watch-now-button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .watch-now-button{
    top: 55%;
  }
 .card:hover .icon {
    opacity: 1;
  }
  .card:hover .watch-now-button{
    opacity: 1; 
  }
  .colored-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
  }

  .card:hover .colored-layer {
    opacity: 1;
  }
.card img{
    height: 400px;
    width: 100%;
}
.bordered-text {
    padding: 5px 15px;
    border: 2px solid transparent; 
    border-radius: 38px;
    transition: border-color 0.3s ease; 
  }
  
  .bordered-text:hover {
    border-color: #f00; 
  }
.funny-videos h1,p{
    text-align: center;
}
.play-games-online{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75px;
}
.play-games-online .image1{
    height: 650px;
    width: 700px;
}
.image-position{
        position: relative;
        top: 0;
        left: 0;
}
.image1 {
    position: relative;
    top: 0;
    left: 0;
   }
  .image2 {
    position: absolute;
    top: 430px;
    left: 480px;
}
.anywhere-anytime-descripton{
    width: 483px;
    height: 294px;
    text-align: start;
}
.anywhere-anytime-descripton h1{
    font-size: 48px;
    font-weight: bold;
}
.anywhere-anytime-descripton p{
    font-size: 18px;
    margin-left: 15px;
}
.games-collection{
    margin-top: 20%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 25px;
    justify-content: center;
}
.icon-image{
    display: flex;
    align-items: center;
}
footer{
    background-color: #0B0223;
    margin-top: 75px;
}
.footer-top{
    display: flex;
    justify-content: center;
    padding-top: 75px;
}
.footer-top .amer, .footer-text p, .footer-copyright p{
    color: whitesmoke;
}
.footer-points{
    display: flex;
    justify-content: space-evenly; 
    color: whitesmoke;
    font-weight: bold;
}
.footer-icons{
    display: flex;
    justify-content: center;
}
.footer-icons i{
    height: 50px;
    width: 50px;
    color: whitesmoke;
}
.footer-text{
    display: flex;
    justify-content: space-evenly;
}
.footer-copyright{
    padding-bottom: 75px;
}






/* Mobile Device */
@media screen and (max-width:576px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    nav{
        flex-direction: column;
    }
    nav a{
        display: block;
        margin-top: 20px;
        margin-right: 0;
    }
    .logo{
        margin: 0;
    }
    .follow-us{
      margin-right: 8px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-left{
        text-align: center;
        width: 100%;
    }
    .banner-midtext{
        font-size: 30px;
    }
    .banner-bigtext{
        font-size: 75px;
    }
    .banner-right img{
        height: 100%;
        width: 100%;
        margin-top: 15px;
    }
    .bordered-text{
        padding: 0;
        border: 0;
    }
    .we-are-gamer{
        flex-direction: column;
    }
    .we-are-gamer img{
        height: auto;
        width: 100%;
    }
    .we-are-gamer-description{
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    .card-box{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        height: auto;
        width: 80%;
        margin-left: 9%;
    }
    .play-games-online{
        flex-direction: column-reverse;
    }
    .anywhere-anytime-descripton{
        margin: 0;
        width: 400px;
        height: 340px;
        text-align: center;
    }
    .play-games-online .image1{
        height: auto;
        width: 90%;
    }
    .play-games-online .image2{
        height: 180px;
        width: 200px;
    }
    .image1 {
        position: relative;
        top: 80px;
        left: 10px;
       }
      .image2 {
        position: absolute;
        top: 290px;
        left: 200px;
    }
    .games-collection{
        margin-top: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-points{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-text{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet Device */
@media screen and (min-width:576px) and (max-width:960px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    nav{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .we-are-gamer{
        flex-direction: column;
    }
    .we-are-gamer img{
        height: auto;
        width: 100%;
    }
    .we-are-gamer-description{
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    .card-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .play-games-online{
        flex-direction: column-reverse;
    }
    .play-games-online .image1{
        height: auto;
        width: 90%;
    }
    .play-games-online .image2{
        height: 180px;
        width: 200px;
    }
    .image1 {
        position: relative;
        top: 80px;
        left: 10px;
       }
      .image2 {
        position: absolute;
        top: 550px;
        left: 520px;
    }
    .games-collection{
        margin-top: 30%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}